<h2>会員情報編集</h2>

  <%= form_with model: @customer, url: public_customer_path, method: :patch do |f| %>
  <%= render "public/shared/error_messages", resource: @customer %>

  <dl class="flex form-row">
    <dt class="form-title2">名前</dt>
    <dd>
      <ul class="flex list-none">
        <li><%= f.text_field :last_name, autofocus: true, autocomplete: "last_name", placeholder: "令和", class: "form-size" %></li>
        <li><%= f.text_field :first_name, autofocus: true, autocomplete: "first_name", placeholder: "道子",class: "form-size margin-left" %></li>
      </ul>
    </dd>
  </dl>

  <dl class="flex form-row">
    <dt class="form-title2">フリガナ</dt>
    <dd>
      <ul class="flex list-none">
        <li><%= f.text_field :last_name_kana, autofocus: true, autocomplete: "last_name_kana", placeholder: "レイワ", class: "form-size" %></li>
        <li><%= f.text_field :first_name_kana, autofocus: true, autocomplete: "first_name_kana", placeholder: "ミチコ", class: "form-size margin-left" %></li>
      </ul>
    </dd>
  </dl>

  <dl class="flex form-row">
    <dt class="form-title2">郵便番号</dt>
    <dd><%= f.text_field :postal_code, autocomplete: "new-password", class: "form-size" %></dd>
  </dl>

  <dl class="flex form-row">
    <dt class="form-title2">住所</dt>
    <dd><%= f.text_field :address, autocomplete: "address", class: "form-size3" %></dd>
  </dl>

  <dl class="flex form-row">
    <dt class="form-title2">電話番号</dt>
    <dd><%= f.telephone_field :telephone_number, autocomplete: "telephone_number", class: "form-size" %></dd>
  </dl>

  <dl class="flex form-row">
    <dt class="form-title2">メールアドレス</dt>
    <dd><%= f.email_field :email, autocomplete: "email", placeholder: "sample@example.com", class: "form-size" %></dd>
  </dl>

  <dl class="flex form-row-submit">
    <dt class="form-title"></dt>
    <dd><%= f.submit "編集内容を保存", class: "btn btn-edit2 margin-left2" %></dd>
    <dd><%= link_to "退会する", quit_public_customers_path, class: "btn btn-delete margin-left" %></dd>
  </dl>

<% end %>