<h1><%= @customer.full_name %></h1>
<%= render "admin/shared/error_messages", resource: @customer %>

  <dl class="flex form-row">
    <dt class="form-title">会員ID</dt>
    <dd><%= @customer.id %></dd>
  </dl>
  
  <%= form_with model: @customer, url: admin_customer_path, method: :patch do |f| %>
  
  <dl class="flex">
    <dt class="form-title">氏名</dt>
    <dd>
      <ul class="flex list-none">
        <li><%= f.text_field :last_name, class: "form-size" %></li>
        <li class="margin-left"><%= f.text_field :first_name, class: "form-size" %></li>
      </ul>
    </dd>
  </dl>
  
  <dl class="flex">
    <dt class="form-title">フリガナ</dt>
    <dd>
      <ul class="flex list-none">
        <li><%= f.text_field :last_name_kana, class: "form-size" %></li>
        <li class="margin-left"><%= f.text_field :first_name_kana, class: "form-size" %></li>
      </ul>
    </dd>
  </dl>
  
  <dl class="flex">
    <dt class="form-title">郵便番号</dt>
    <dd><%= f.text_field :postal_code, class: "form-size" %></dd>
  </dl>
  
  <dl class="flex">
    <dt class="form-title">住所</dt>
    <dd><%= f.text_field :address, class: "form-size3" %></dd>
  </dl>
  
  <dl class="flex">
    <dt class="form-title">電話番号</dt>
    <dd><%= f.telephone_field :telephone_number, class: "form-size" %></dd>
  </dl>
  
  <dl class="flex">
    <dt class="form-title">メールアドレス</dt>
    <dd><%= f.email_field :email, class: "form-size" %></dd>
  </dl>
  
  <dl class="flex form-row">
    <dt class="form-title">会員ステータス</dt>
    <dd>
      <%= f.radio_button :is_deleted, 'false' %>
      <%= f.label :is_deleted, '有効', value: 'false' %>
      
      
      <%= f.radio_button :is_active, 'true' %>
      <%= f.label :is_deleted, '退会', value: 'true' %>
    </dd>
  </dl>
  
  <dl class="flex form-row">
    <dt class="form-title"></dt>
    <dd><%= f.submit "変更を保存", class: "btn btn-color1" %></dd>
  </dl>
  <% end %>
