<div class="sign-in-form">
  <h2>ログイン</h2>
  <h3>会員の方はこちらからログイン</h3>
  <%= form_with model: @customer, url: customer_session_path, method: :post do |f| %>
  <dl class="form">
		<dt class="form-title"><%= f.label :email, "メールアドレス" %></dt>
		<dd><%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "sample@example.com", class: "form-size2" %></dd>
	</dl>
	<dl class="form">
		<dt class="form-title"><%= f.label :password, "パスワード" %></dt>
		<dd><%= f.password_field :password, autocomplete: "current-password", class: "form-size2" %></dd>
	</dl>
	<dl class="form transmission">
		<dt class="form-title"></dt>
		<dd><%= f.submit "ログイン", class: "btn btn-login" %></dd>
	</dl>
	<% end %>
	
	<h3>会員登録がお済みでない方</h3>
	<p><%= link_to "こちら", new_customer_registration_path %>　から新規登録を行なってください。</p>
</div>



